<nav class="container py-4" x-data="{ open: false }">
    <div class="relative flex items-center justify-between gap-x-4 z-20">
        <div class="flex items-center">
            <a href="{{ path('app.home.index') }}" class="h4">Local MangaPlus</a>
        </div>

        <div class="hidden lg:flex flex-row items-center gap-x-4">
            <twig:Button as="a" href="{{ path('app.home.index') }}" variant="ghost">Home</twig:Button>
            <twig:Button as="a" href="{{ path('app.library.index') }}" variant="ghost">Library</twig:Button>
            <twig:Button as="a" href="{{ path('app.mangas.explore') }}" variant="ghost">Explore</twig:Button>
            <twig:Button as="a" href="{{ path('app.chapters.downloads') }}" variant="ghost">Downloads</twig:Button>
            <twig:Button as="a" href="{{ path('app.home.index') }}" variant="ghost">Settings</twig:Button>
        </div>

        <div class="flex items-center justify-end gap-x-4">
            <div class="hidden lg:block">
                <twig:Button as="a" href="{{ path('app.home.sync') }}" variant="ghost" class="text-xs">
                    Last sync: {{ get_last_sync() ? get_last_sync()|date('Y/m/d H:i:s') : 'Never' }}
                </twig:Button>
            </div>

            <twig:Button as="button" variant="ghost" x-on:click="open = !open" class="lg:hidden text-white">
                <twig:ux:icon name="lucide:menu" class="size-5" x-bind:class="{'hidden': open, 'inline-flex': !open }"/>
                <twig:ux:icon name="lucide:x" class="size-5 hidden" x-bind:class="{'hidden': !open, 'inline-flex': open }"/>
            </twig:Button>
        </div>
    </div>

    <div x-show="open"
         x-transition:enter="transition ease-out duration-200"
         x-transition:enter-start="opacity-0 -translate-y-2"
         x-transition:enter-end="opacity-100 translate-y-0"
         class="absolute lg:hidden bg-background px-4 pt-12 inset-0 z-10 mt-4 space-y-2 pb-4">
        <twig:Button as="a" href="{{ path('app.home.index') }}" variant="ghost" class="block w-full text-left">Home</twig:Button>
        <twig:Button as="a" href="{{ path('app.library.index') }}" variant="ghost" class="block w-full text-left">Library</twig:Button>
        <twig:Button as="a" href="{{ path('app.mangas.explore') }}" variant="ghost" class="block w-full text-left">Explore</twig:Button>
        <twig:Button as="a" href="{{ path('app.chapters.downloads') }}" variant="ghost" class="block w-full text-left">Downloads</twig:Button>
        <twig:Button as="a" href="{{ path('app.home.index') }}" variant="ghost" class="block w-full text-left">Settings</twig:Button>
        <hr class="border-gray-200 my-4">
        <twig:Button as="a" href="{{ path('app.home.sync') }}" variant="ghost" class="block w-full text-xs">
            Last sync: {{ get_last_sync() ? get_last_sync()|date('Y/m/d H:i:s') : 'Never' }}
        </twig:Button>
    </div>
</nav>
